body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #01a7c2;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  background-color: #ff47da;
  border: 10px solid #26c485;
  border-radius: 20px;
}

.header {
  background-color: #f8edeb;
  color: black;
  text-align: center;
  padding: 20px;
}

.header p {
  color: #ff47da;
  font-size: 48px;
}

.content {
  padding: 20px;
  color: #333333;
}

.content p {
  line-height: 1.6;
}

div {
  background-color: #f8edeb;
  border-style: solid;
  border-color: #faf33e;
  border-width: 7px;
  padding: 15px;
}

img {
  column-gap: 8px;
  border: solid;
  border-color: #01a7c2;
  border-radius: 20px;
}

h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  text-align: center;
}

form {
  background-color: #f8edeb;
  padding: 25px 50px 75px 100px;
}

#message {
  width: 500px;
  height: 300px;
}

.footer {
  background-color: #eee;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: #666666;
}
